.three-two-one-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (min-width: 768px) {
  .three-two-one-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .three-two-one-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
