.buy#buy
  .container
    .buy__inner
      //- .buy__title Send your emails with Letterbox
      .twelve-six-one-grid
        .buy__getcol
          .purchase-card
            .purchase-card__body
              p.tag Printables
              p.purchase-card__title Get Printables
              p.purchase-card__subtitle The simpliest way to start app design with sketches just by hand to get clear screen structure
              ul.purchase-card__list
                - var path_fill = '#0078FF'
                li
                  include ../svg/checkMark
                  span 60 color & grayscale sheets 
                li
                  include ../svg/checkMark
                  span PNG / JPG / PDF formats
                li
                  include ../svg/checkMark
                  span Personal & Commercial licenses
                li
                  include ../svg/checkMark
                  span Compatible with Figma 
              a.button(href='https://craftwork.design/checkout?edd_action=add_to_cart&download_id=141062') Download for Free  
        .buy__procol
          .purchase-card_black
            .purchase-card__body
              p.tag_light All Craftwork products
              p.purchase-card__title Pro Access
              p.purchase-card__subtitle Get one subscription to take an advantage of all the Craftwork possibilities.
              ul.purchase-card__list
                - var path_fill = '#0078FF'
                li
                  include ../svg/checkMark
                  span Access to all Craftwork products under subscription
                li
                  include ../svg/checkMark
                  span Paid assets become free
                li
                  include ../svg/checkMark
                  span Cancel any time
              a.button.wide(href='https://craftwork.design/pro-access/') Explore Pro Access →  
