.desktop-pics
  .container
    .desktop-pics__inner 
      .two-colls
        .two-colls__item
          p.tag 10 templates 
          h2.title Ready-to-use templates to prepare each email faster
          p.subtitle Don't waste time changing a single email design. <br> Focus on the content.
      .desktop-pics__image    
        - var image_name = 'desktopImage'
        - var path_name = 'images/desktopPics/'
        include picture_nolazy
