//- Generics icons
link(rel='icon' href='public/images/favicons/favicon-16.png' sizes='16x16')
link(rel='icon' href='public/images/favicons/favicon-32.png' sizes='32x32')
link(rel='icon' href='public/images/favicons/favicon-48.png' sizes='48x48')
//- Generics icons
