.get-early-access
  .container
    .two-colls
      .two-colls__item
        - var cardTitle = 'Choose the device you\'re working for'
        - var cardSubTitle = 'We put 12 devices in the pack, both for iPhone and Android in order to propose to you them all'
        - var cardTags = ['iphones', 'androids']
        - var cardImage = 'Image1'
        include mobile-card
      .two-colls__item
        - var cardTitle = 'Freebie that responses to your needs broad'
        - var cardSubTitle = 'Three options of templates to help you to orientate with all the components placements or leave it clean'
        - var cardTags = ['Clear', 'Dotted', 'Columns']
        - var cardImage = 'Image2'
        include mobile-card  
