.get-early-access
  .container
    .two-colls
      .two-colls__item
        - var cardTitle = 'Get early access before official launch'
        - var cardSubTitle = 'Manage tasks, track processes and get the best results using a single platform';
        - var cardTag = 'Clear code'
        - var cardImage = 'Image1'
        include mobile-card
      .two-colls__item
        - var cardTitle = 'Get early access before official launch'
        - var cardSubTitle = 'Manage tasks, track processes and get the best results using a single platform';
        - var cardTag = 'dark theme'
         - var cardImage = 'Image2'
         - var mobile_card_class = 'mobile-card_black'
        include mobile-card  
