.header
  .container_thin
    .header__section.desktop-only
      .header__logo
        include ../svg/letterBoxLogo 
        |Letterbox
    .header__section
      a.header__link(href='#buy') 
        span Purchase Letterbox ↓
    .header__section
      a.header__link(href='https://craftwork.design/pro-access/') 
        span.mobile-only Go Pro →
        span.desktop-only Get for Free with Pro →

