.hero
  .container_thin
    .two-colls
      .two-colls__item(style='display: flex; flex-direction: column;')
        .vertically_centered(style='flex-grow: 1;')
          h1.title_big Free printable templates for your sketching
          p.hero__subtitle Start creating your app with clean mindand clear representing of screen structure
          .hero__button-group 
            a.button(href="#buy") Download for Free
      .two-colls__item.overflow-hidden
        - var image_name = 'Image1'
        - var path_name = 'images/hero/'
        - var class_name = 'hero__image'
        include picture_nolazy_with_class

