.hero
  .container_thin
    .two-colls
      .two-colls__item(style='display: flex; flex-direction: column;')
        .vertically_centered(style='flex-grow: 1;')
          .hero__tag-container
            p.tag_light Figma
            p.tag_light Html
            p.tag_light CSS
          h1.title_big Catchy emails made simple.
          p.hero__subtitle A new path in newsletter design. <br> 20 email templates about the most readable topics
          .hero__button-group 
            a.button(href="#buy") Purchase for $28
            a.button_black(href="#buy") Get Demo for Free
      .two-colls__item.overflow-hidden
        - var image_name = 'Image1'
        - var path_name = 'images/hero/'
        - var class_name = 'hero__image'
        include picture_nolazy_with_class

