//- Open Graph / Facebook
meta(property='og:type ' content='website')
meta(property='og:url ' content='')
meta(property='og:site_name' content='Printables – free templates for your sketching')
meta(property='og:title ' content='Printables – free templates for your sketching')
meta(property='og:description' content='Start creating your app with clean mind and clear representing of screen structure.')
meta(property='og:image' content='public/images/OpenGraph.png')
//- Open Graph / Facebook
//- Twitter
meta(property='twitter:card ' content='summary_large_image')
meta(property='twitter:type ' content='website')
meta(property='twitter:url ' content='')
meta(property='twitter:site_name' content='Printables – free templates for your sketching')
meta(property='twitter:title ' content='Printables – free templates for your sketching')
meta(property='twitter:description' content='Start creating your app with clean mind and clear representing of screen structure.')
meta(property='twitter:image' content='public/images/OpenGraph.png')
//- Twitter
