a.producthunt(href='https://www.producthunt.com/posts/social-templates-bundle-for-instagram?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-social-templates-bundle-for-instagram' target='_blank')
  img(src='https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=284078&theme=light' alt='Social Templates Bundle for Instagram - Large bundle of 240 posts & stories templates for Instagram | Product Hunt' style='width: 250px; height: 54px;' width='250' height='54')
