doctype html
html(lang='en')
  - var pageTitle = 'LetterBox'
  include partials/head
  body
    include partials/header
    include partials/hero
    include partials/desktop-pics
    include partials/get-early-access
    include partials/full-preview
    include partials/buy
    include partials/footer
